body {
}

.nav-tabs a, .nav-tabs a:hover, .nav-tabs a:focus
        {
            outline: 2px;
        }

.lbl_category {
    font-size:16px;
    font-weight:bold;
    color:#1e5e66;
}
.lbl_categorySub {
    font-size:30px;
    font-weight:bold;
    color:#1e5e66;
}
.lable {
    color:#1e5e66;
    font-size:20px;
    font-weight:bold;
}
.textBox {
    border-radius:15px;
    border: 2px solid #1e5e66;
    color:#1e5e66;
    font-size:20px;
    font-weight:bold;
    width:200px;
    height:40px;
}
.deleteButton {
    border-radius:12px;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    padding:15px 32px;
    color:#1e5e66;
    background-color:lightgray;
}
    .deleteButton:hover {
        box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color:gray;
    }
